*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bree Serif', serif;
}
html{
    scroll-behavior: smooth;
}
body{
    display: grid;
    grid-template-areas:
    "header header"
    "main main"
    "footer footer";

    grid-template-rows: 0vh auto 10vh;
}
header{
    grid-area: header;
    position: fixed;
    width: 100%;
    padding: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.432);
}
#btn-mobile{
    display: none;
}
header h1{
    color: #000000;
}
#menu{
    display: flex;
    gap: 1vw;
    list-style: none;
}
#menu a{
    text-decoration: none;
    color: #000000;
}
main{
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.inicio{
    background-color:#708090;
    width: 100%;

}
.conteiner-inicio{
    padding: 20vh 0vh;
}
.foto-perfil{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.foto-de-perfil{
    width: 110px;
    border-radius: 50%;
    box-shadow: 2px 20px 50px #656b70;
}
.apresentacao{
    text-align: center;
    font-size: 40px;
    color: #ffffff;
}
.linkedin{
    display: flex;
    justify-content: center;
}
.linkedin a{
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    background-color: #000000;
    border: 2px solid #8a2be2;
    border-radius: 20px;
    display: flex;
    gap: 5%;
}
.linkedin-button img{
    width: 22px;
}
.linkedin a:hover{
    box-shadow: 1px 5px 10px #656b70;
}
.about{
    width:  auto;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.my-pic{
    width: 200px;
}
.tecnology{
    background-color: #708090;
    width: 100%;
}
.tecnology h2{
    margin-top: 8%;
    text-align: center;
}
.container-tec{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5%;
    gap: 10%;
}
.card{
    width: 250px;
    height: 300px;
    border: 2px solid #8a2be2;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 3%;
    background-color: #ffffff;
}
.img-card{
    width: 150px;
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-30% -25%);
    transition: .5s ease-in-out;
}
.card:hover .img-card{
    width: 55px;
    transform: translate(130px, -80px);
}
.card-text{
    width: 90%;
    height: 75%;
    position: absolute;
    transform: translateY(115%);
    z-index: 1;
    transition: .5s ease-in-out;
}
.card:hover .card-text{
    transform: translateY(35%);
}
.projects{
    background-color: #ffffff;
    width: 100%;
}
.projects h2{
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
}
.projects-titulo{
    margin-top: 3%;
    text-align: center;
}
.container-projetos{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3%;
}
.card-p{
    width: 400px;
    height: 300px;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 5%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.img-p{
    width: 300px;
    transition: 0.3s ease-in-out;
    opacity: 0.5;
    margin-bottom: 3%;
}
.card-p:hover .img-p{
    opacity: 1;
    margin-top: -2px;
    box-shadow: 2px 20px 50px #656b70;
}
.link-projetos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
}
.link-github{
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    background-color: #000000;
    border: 2px solid #8a2be2;
    border-radius: 20px;
    width: 175px;
    margin-bottom: 3%;display: flex;
    justify-content: center;
}
.link-github:hover{
    box-shadow: 1px 5px 10px #656b70;
}
footer{
    grid-area: footer;
    background-color: #708090;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 40em) {
    *{
        max-width: 100%;
    }
    #btn-mobile{
        display: block;
    }
    #menu{
        background-color: rgba(255, 255, 255, 0.432);
        margin-top: 5%;
        padding: 30px;
        position: absolute;
        width: 100%;
        right: 0px;
        display: block;
        visibility: hidden;
    }
    .img-menu{
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    .active #menu{
        height: auto;
        visibility: visible;
        overflow-y: auto;
    }
    .about{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .about p{
        width: 300px;
    }
    .container-tec{
        display: flex;
        gap: 100%;
    }
    .container-projetos{
        display: flex;
        gap: 100%;
    }
    .card-p{
        flex-direction: column;
    }
}